{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to the Image Upload Site</h1>
        <p class="lead">Please register or log in to upload your images.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="{{ url_for('register') }}" role="button">Register</a>
        <a class="btn btn-secondary btn-lg" href="{{ url_for('login') }}" role="button">Login</a>
    </div>
{% endblock %}
